.mission , .vission {
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mission{
 background-image: url(/public/images/Vector-1.webp);
}

.vission{
 background-image: url(/public/images/Vector.webp);
 color: #fff;
}
.mission p , .vission p{
    font-size: 1.25rem;
}

@media (max-width:992px) {
    .reorder{
       flex-direction: column-reverse;
}
}
