
@media (max-width:576px) {
   html, body{
    overflow-x: hidden;
} 
}
.spancolor{
    color: maroon;
}
.headingtop{
    font-weight: bold;
}
.mainbanner{
position: relative;
overflow: hidden;
}
.scroll-container {
    position: absolute;
  display: flex;
  width: max-content; /* container width fits the text */
  animation: scroll 15s linear infinite;
  top: 50%;
left: 0;

transform: translateY(-50%);
}
.textabovebanner{
font-size: 2.5vw;

white-space: nowrap; 
color: #fff;
margin-bottom: 0;
font-weight: 350;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

.onimage{
    position:relative;
    border-radius: 10px 10px 0 10px;
}
.onimage img{
    border-radius: 10px 10px 0 10px;
}
.onimagesdiv{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
display: flex;
align-items:center ;
justify-content: space-around;
flex-direction: column;
 border-radius: 10px 10px 0 10px;
}
.onimagesdiv p{
    font-size: 2rem;
    color: #fff;
}
.btndesign1{
    font-size: 1.1rem;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.offmarket{
    display:flex;
}
.offmarket img{
    width: 50%;
}
.offmarketdiv{
    width: 50%;
    background-color:whitesmoke;
}
.btndesign2{
 font-size: 1.1rem;
    color: #fff;
    background-color: maroon;
    padding: 1rem 3rem;
    text-decoration: none;
    
}
@media (max-width:992px){
.offmarket{
    /* display: block; */
    flex-direction: column;
}
.offmarket img{
    width: 100%;
}
.offmarketdiv{
    width: 100%;
}
}
.ournumbersdiv{
    padding: 4rem 1rem 1rem 1rem;
    border-radius: 10px 10px 0 10px;
    box-shadow: 0px 4px 8px rgba(128, 128, 128, 0.247);
}
.ournumbers .ournumbersdiv h1 , .ournumbers .ournumbersdiv h4{
margin-bottom: 0;
}

.bgm{
    background-color: maroon;
    color: #fff;
}
.bgsw{
    background-color: whitesmoke;
    color: rgb(43, 42, 42);
}
.locationdiv span{
    font-size:3.5vmax;
}
.contactfrm{
    background-image: url(/public/images/contact-form-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contactfrm form input, .contactfrm form textarea{
background-color: transparent;
border: none;
border-bottom: 2px solid rgb(183, 182, 182);
border-radius: 10px;
width: 100%;
padding: 0.5rem 1rem;
margin-bottom: 2rem;
}
#policy{
    width: fit-content;
    margin: 0 1rem;
}